.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container {
	margin: 0 auto;
	padding: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.watermark,
.footer {
  padding: 15px;
}