<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="static/app/styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="staticApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div class="container" ng-controller="MainController as vm">
      <h1 class="text-center">Welcome to Watermark on an Image</h1>
      <div class="form-group">
        <label>Upload Image</label>
        <input type="file" onchange="angular.element(this).scope().vm.uploadImage(this)" accept="image/*">
      </div>

      <div class="form-group">
        <label>Upload Watermark</label>
        <input type="file" onchange="angular.element(this).scope().vm.uploadImage(this, true)" accept="image/*">
        <p class="help-block">Watermark should be less than uploaded image</p>
      </div>
        <button type="submit" class="btn btn-default" ng-click="vm.upload()">Convert & Download</button>
      
      <div class="alert alert-danger" role="alert" ng-if="vm.error">
        <p>You forget to attach Image or Watermark</p>
      </div>

      <div class="alert alert-info" role="alert" ng-if="vm.info">
        <p>Uploading file to server and getting new image.</p>
      </div>

        <div class="alert alert-info" role="alert" ng-if="vm.serverIssue">
            <p>Looks like there is some issue from our end.</p>
        </div>
      <div class="row watermark" ng-if="vm.newImage">
            <p class="help-block">Below is the generated image.Right click on it and download</p>
            <img ng-src="{$'data:image/png;base64,'+vm.newImage$}" class="img-responsive" >
      </div>
    </div>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/angular/angular.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="static/bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="static/app/scripts/app.js"></script>
        <script src="static/app/scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
